<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
   
</head>

<body>
    <div id="username-form">
        <h1>Chat Mongoo </h1>
        <form id="username-form" action="/api/msg" method="POST">
    <input type="text" id="username" name="user" placeholder="Ingresa Nombre" required>
    <input type="text" id="message"  name="message" rows="1" placeholder="Ingresa Mensaje..." required>
    <button type="submit">Enviar mensaje</button>
</form>
    </div>
    <script src="/js/chat.js"></script>
</body>
</html>